@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @font-face {
    font-family: 'Ubuntu';
    font-weight: 400;
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-weight: 700;
  src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
} */
@font-face {
  font-family: 'DMSans';
  font-weight: 400;
  src: url('../fonts/DMSans/DMSans-Regular.ttf') format('truetype');
}
@font-face {
font-family: 'DMSans';
font-weight: 700;
src: url('../fonts/DMSans/DMSans-Bold.ttf') format('truetype');
}